*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(233, 47%, 7%) ; 
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main{
   
    display: flex;
    justify-content: space-between
}
#container{
    border: 1px;
    width: 900px;
    height: 400px;
    display: flex;
    margin: 150px;
    position: sticky;
    top: 0;
    left: 0;
}
#body{
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 50%;
    height:400px;
    background-color: hsl(244, 38%, 16%);
    border-top-left-radius: 9px;
    border-bottom-left-radius:9px ;
}
div.img {
    width: 50%;
    position: relative;
}
.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(136, 4, 136, 0.5);
}
img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
h1{
    font-size: 50px;
    font-weight:200;
    padding: 10px;
}
span{
    color:hsl(277, 64%, 61%) ;
}
#para{
     margin: 20px;
}
#foot{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-left: 10px;
}
.small{
    color:hsla(0, 0%, 100%, 0.6);
    font-size: 10px;
}

